html
  head
    title Ride Canceled
  body
    h1 Ride Canceled
    p Hello , we regret to inform you that your ride from #{fromPlace} to #{toPlace} scheduled for #{date} has been canceled.
    p This cancellation was initiated by the driver. We apologize for any inconvenience caused.
    
    p Here are the ride details:
    ul
      li From: #{fromPlace}
      li To: #{toPlace}
      li Date: #{date}
    
    p If you have any questions or need further assistance, please don't hesitate to contact us at support@yourplatform.com.
    p We apologize again for the inconvenience and appreciate your understanding.

    .footer
      p © 2025 Your Platform. All rights reserved.
